---
# Talk to jameel about eval_app_host
- hosts: master
  gather_facts: no
  tasks:
    - block:
      -
        name: Retrieve master configurations
        slurp:
          src: "{{ eval_openshift_master_config_path }}"
        register: eval_master_config
        become: yes
      -
        add_host:
          name: EVAL_VARS
          eval_app_host: "{{ (eval_master_config['content'] | b64decode | from_yaml)['routingConfig']['subdomain'] }}"
      tags: ['bootstrap', 'remote']
- hosts: localhost
  vars:
    target_namespace: "test-again"
  tasks:
    -
      name: Link enmasse resources folder
      file:
        src: "{{ playbook_dir }}/../artifacts/enmasse/resources"
        dest: "{{ playbook_dir }}/resources"
        state: link
      tags: ['enmasse']
    -
      name: Install enmasse
      include_role:
        name: enmasse
      vars:
        namespace: "{{ target_namespace }}"
        multitenant: "{{ enmasse_multitenant }}"
        enable_rbac: "{{ enmasse_enable_rbac }}"
        service_catalog: "{{ enmasse_service_catalog }}"
        keycloak_admin_password: "{{ eval_rhsso_admin_password }}"
        authentication_services: "{{ enmasse_authentication_services }}"
      tags: ['enmasse']
    - 
      name: Install syndesis-operator
      include_role:
        name: syndesis
      vars:
        syndesis_namespace: "{{ target_namespace }}"
      tags: ['syndesis']
    -
      # Talk to jameel about eval_app_host
      name: Set eval_app_host var
      set_fact:
        eval_app_host: "{{ hostvars['EVAL_VARS']['eval_app_host'] }}"
      when: eval_app_host == ''
    -
      name: Install managed services broker
      include_role:
        name: msbroker
      vars:
        # Talk to jameel about eval_app_host
        route_suffix: "{{ eval_app_host }}"
        msbroker_namespace: "{{ target_namespace }}"
      tags: ['msbroker']
    - 
      name: Install integration controller
      include_role:
        name: integration-controller
      vars:
        integration_namespace: "{{ target_namespace }}"
      tags: ['integration-controller']
