---
# tasks file for integration-controller
- name: Check if integration custom resource definition exists
  shell: oc get customresourcedefinition {{ integration_crd_name }} -n {{ integration_namespace }}
  register: integration_crd_exist
  failed_when: false

- name: Create integration custom resource definition
  shell: oc create -f {{ integration_crd_url }} -n {{ integration_namespace }}
  when: integration_crd_exist.rc != 0

- block:
  - name: Delete RBAC if exists
    shell: oc delete -f {{ integration_rbac_url }} -n {{ integration_namespace }}
    failed_when: false

  - name: Create RBAC for the managed services broker
    shell: oc create -f {{ integration_rbac_url }} -n {{ integration_namespace }}

- name: Check if integration controller deployment exists
  shell: oc get deploy {{ integration_deployment_name }} -n {{ integration_namespace }}
  register: integration_controller_deployment_exist
  failed_when: false

- block:
  -
    name: Create integration controller deployment
    shell: oc create -f {{ integration_deployment_url }} -n {{ integration_namespace }}

  -
    name: Verify integration controller deployment succeeded
    shell: sleep 5; oc get pods --namespace {{ integration_namespace }}  |  grep  "deploy"
    register: result
    until: not result.stdout
    retries: 50
    delay: 10
    failed_when: result.stdout
    changed_when: False
  when: integration_controller_deployment_exist.rc != 0
