---
# install.yml line 80
- name: Retrieve launcher sso hostvars
  shell: "oc get route/launcher-sso -o jsonpath='{.spec.host}' -n launcher"
  register: launcher_sso_host_cmd
  when: launcher

- set_fact:
    launcher_sso_route: "https://{{launcher_sso_host_cmd.stdout}}"
  when: launcher

# install_sso.yml line 44
- name: Retrieve cluster rhsso host
  shell: "oc get route/sso -o jsonpath='{.spec.host}' -n {{ eval_rhsso_namespace }}"
  register: eval_sso_host_cmd

- name: Set rhsso host var
  set_fact:
    eval_rhsso_host: "{{ eval_sso_host_cmd.stdout }}"

# install_sso.yml line 25
# Setting Openshift SSO env vars e.g.
# - eval_rhsso_admin_username
# - eval_rhsso_admin_password
# - eval_rhsso_service_username
# - eval_rhsso_service_password
- name: Retrieve rhsso env vars
  shell: "oc get dc/sso \
          -o jsonpath='{.spec.template.spec.containers[0].env[?(@.name==\"{{ item }}\")].value}' \
          -n {{ eval_rhsso_namespace }}"
  with_items:
    - 'SSO_SERVICE_USERNAME'
    - 'SSO_SERVICE_PASSWORD'
    - 'SSO_ADMIN_USERNAME'
    - 'SSO_ADMIN_PASSWORD'
  register: _eval_rhsso_dc_cmd

- name: Set rhsso playbook vars
  set_fact: "eval_rh{{ item.item | lower }}={{ item.stdout }}"
  with_items: "{{ _eval_rhsso_dc_cmd.results }}"


# launcher/tasks/provision_sso.yml line line 56
# This errored on a re run
- name: Retrieve launcher SSO Admin Password
  shell: "oc get dc/launcher-sso \
        -o jsonpath='{.spec.template.spec.containers[0].env[?(@.name==\"SSO_ADMIN_PASSWORD\")].value}' \
        -n launcher"
  register: launcher_admin_password_cmd

- set_fact:
    launcher_sso_password: "{{ launcher_admin_password_cmd.stdout }}"
    launcher_sso_admin_password: "{{ launcher_admin_password_cmd.stdout }}"

# rhsso/defaults/main.yml line 39
- set_fact:
    rhsso_cluster_admin_email: admin@example.com

# rhsso/defaults/main.yml line 6
- set_fact:
    rhsso_realm: openshift

# rhsso/defaults/main.yml line 9
- set_fact:
    rhsso_client_id: openshift-client

# rhsso/defaults/main.yml line 45
- set_fact:
    original_identityprovider_config_path: /etc/origin/master/idp-config.integreatly-original.yaml

# rhsso/defaults/main.yml line 14
- set_fact:
    rhsso_hide_default_identity_providers: true

# rhsso/defaults/main.yml line 17
- set_fact:
    rhsso_identity_provider_ca_cert_path: ca.crt

# rhsso/defaults/main.yml line 18
- set_fact:
    rhsso_master_restart_shim_path: /usr/local/bin/master-restart

# rhsso/defaults/main.yml line 24
- set_fact:
    rhsso_operator_resource_items:
      - "{{ rhsso_operator_resources }}/rbac.yaml"
      - "{{ rhsso_operator_resources }}/crds/Keycloak_crd.yaml"
      - "{{ rhsso_operator_resources }}/crds/KeycloakRealm_crd.yaml"
      - "{{ rhsso_operator_resources }}/operator.yaml"

# rhsso/defaults/main.yml line 43
- set_fact:
    rhsso_plugins:
      keycloak-metrics-spi

# rhsso/defaults/main.yml line 5
- set_fact:
    rhsso_admin_realm: master

# rhsso/defaults/main.yml line 41
- set_fact:
    rhsso_cluster_admin_password: Password1

#- name: Create config secret
#  shell: oc create secret generic integreatly-operator-product-config --from-file=/tmp/generated_manifest --type=application/json -n {{webapp_namespace}}