---
- hosts: master
  gather_facts: no
  tasks:
    - include_role:
        name: webapp
        tasks_from: cors
      tags: ['webapp', 'remote']
      when: (run_master_tasks | default(true) | bool) and webapp
    - include_role:
        name: rhsso
        tasks_from: identityprovider
      vars:
        rhsso_openshift_master_config_path: "{{ eval_openshift_master_config_path }}"
        rhsso_namespace: "{{ eval_rhsso_namespace }}"
#        rhsso_client_id: "{{ rhsso_client_id }}"
        rhsso_client_id: "openshift-client"
        original_identityprovider_config_path: /etc/origin/master/idp-config.integreatly-original.yaml
      tags: ['rhsso', 'remote']
      when: (run_master_tasks | default(true) | bool) and webapp
