---
# tasks file for syndesis
- name: Check if syndesis custom resource definition exists
  shell: oc get customresourcedefinition {{ syndesis_crd_name }} -n {{ syndesis_namespace }}
  register: syndesis_crd_exist
  failed_when: false

- name: Create syndesis custom resource definition
  shell: oc create -f {{ syndesis_crd_url }} -n {{ syndesis_namespace }}
  when: syndesis_crd_exist.rc != 0

- name: Check if syndesis operator deployment exists
  shell: oc get deploymentconfig {{ syndesis_dc_name }} -n {{ syndesis_namespace }}
  register: syndesis_operator_deployment_exist
  failed_when: false

- block:
  -
    name: Deploy syndesis operator
    shell: oc create -f {{ syndesis_operator_url }} -n {{ syndesis_namespace }}
    register: syndesis_operator_deployed

  -
    name: Verify syndesis operator deployment succeeded
    shell: sleep 5; oc get pods -n {{ syndesis_namespace }}  |  grep  "deploy"
    register: result
    until: not result.stdout
    retries: 50
    delay: 10
    failed_when: result.stdout
    changed_when: False
  when: syndesis_operator_deployment_exist.rc != 0

- name: Check if syndesis custom resource has been created
  shell: oc get {{ syndesis_custom_resource_name }} -n {{ syndesis_namespace }}
  register: syndesis_custom_resource_exist
  failed_when: false

- block:
  -
    name: Create syndesis custom resource
    shell: oc create -f {{ syndesis_url }} -n {{ syndesis_namespace }}

  -
    name: Verify syndesis deployment succeeded
    shell: sleep 5; oc get pods -n {{ syndesis_namespace }}  |  grep  "deploy"
    register: result
    until: not result.stdout
    retries: 50
    delay: 10
    failed_when: result.stdout
    changed_when: False
  when:  '"No resources found" in syndesis_custom_resource_exist.stdout'
